@import url(bespoke-stencil.css);
@import url(supreme.css);

/* My Styles */
body {
  font-family: 'Supreme-Regular';
  background-image: url(https://i.imgur.com/xProORE.jpg);
  background-size: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.topnav {
  padding: 1em 4em 1em 0em;
}

h1 {
  font-family: 'BespokeStencil-Variable';  
  font-size: 50px;
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

p {
  color:#ffffff;
  width: 900px;
  background-color: rgba(0, 0, 0, 0.362);
  padding: 3em;
  border-radius: 1em;
}

a {
  text-decoration: none;
  color: #ffffff;
}


[role="button"] {
background-color: rgb(76, 76, 76);
}

[role="button"]:hover {
  background-color: rgb(240, 206, 8);
  }

#logo {
scale: .04;
}

svg {
  margin: 2em;
}