@import url(bespoke-stencil.css);
@import url(supreme.css);

/* My Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Supreme-Regular';
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(223, 223, 223));
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
  margin: 0;
  padding: 0;
  height: fit-content;
  block-size: fit-content;
}

.topnav {
  padding: 1em 4em 1em 0em;
}

.topnav:hover {
  color: rgb(129, 228, 255);
}

.social {
  margin: 20px;
  margin-bottom: 200px;
}


.allsocial {
  margin-top: 50px;
  margin-bottom: 200px;
}

#name {
  font-size: 100px;
}

h1 {
  font-family: 'BespokeStencil-Variable';  
  color: #ffffff;
}

h2 {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;  
}

h3 {
  font-family: 'BespokeStencil-Variable'; 
  color: white;
  font-size: 30px;
}

p {
  color: white;
  font-size: 20px; 
  line-height: 50px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

#logo {
scale: .04;
}

.sicon {
  transition: .5s ease-out;
}

.sicon:hover {
  fill: rgb(129, 228, 255);
}

#about {
  background-image: url("https://i.imgur.com/tdl4SQd.jpg");
  padding: 20px;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-radius: 20px;
  background-size: 200%;
  background-position-y: -100px;
  background-position-x: -200px;
  max-width: 1000px;
}

#content {
    background-color: rgba(0, 0, 0, 0.562);
    padding: 50px;
    border-radius: 20px;
    margin: 20px;
}


#logop {
    margin: 60px;
  }


/* For Tablet View */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .topnav {
    padding: 1em 4em 1em 0em;
  }

  #name {
   font-size: 60px;
  }

  h2 {
   font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
    line-height: 30px;
  }

  .allsocial {
    margin-bottom: 150px;
  }

  .socialicon {
    width: 60px;
  }

  #about {
    background-size: 200%;
    background-position-y: -150px;
    background-position-x: -150px;
    max-width: 90%;
    margin-bottom: 120px;
  }

  #logop {
    margin: 50px;
  }
}




/* For Mobile Portrait View */
@media screen and (max-width: 600px) {
  .menu {
    padding: 10px 10px 50px 0px;
  }
  
  .topnav {
    padding: 10px 40px 10px 0px;
  }

  #logop {
    margin: 10px 10px 0px 40px;
  }

  #name {
   font-size: 40px;
  }

  h2 {
   font-size: 20px;
  }

  h3 {
    font-size: 15px;
    margin-bottom: 10px;
  }

  p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: -8px;
  }

  .allsocial {
    margin-bottom: 70px;
  }

  .socialicon {
    width: 50px;
  }

    #about {
    background-size: 250%;
    background-position-y: -20px;
    background-position-x: -150px;
    max-width: 90%;
    padding: 10px;
    margin-bottom: 90px;
    grid-template-columns: 60fr 40fr;
  }

  #content {
    padding: 20px;
    margin: 5px;
  }

}



/* create a footer */
footer {
  background-color: rgba(255, 255, 255, 0.226);
  color: rgb(0, 0, 0);
  padding: 1em;
  text-align: center;
}
