@import url(bespoke-stencil.css);
@import url(supreme.css);

/* My Styles */
body {
  font-family: 'Supreme-Regular';
  background-color: rgb(99, 99, 99);
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
}

h1 {
  font-family: 'BespokeStencil-Variable';
  color: #ffffff;
  font-size: 100px;
}

p {
  color:#ffffff;
  width: 900px;
}


}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  width: 500px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

[role="button"] {
background-color: rgb(0, 146, 165);
outline: none;
}
